extends layout

block content
  include signinLinks
  br
  br
  .container
    .col-left.pad
      .div: | Hi
      .div: | There
    .col-center.pad
      form#explore(method='post', action='/explore')
        .div: input.field(name='collection', placeholder='collection')
        .div: input.field(name='_id', placeholder='id')
        .div: input.field(name='name', placeholder='name')
        .div: input.field(name='query', placeholder='query')
        .div: input.field(name='sort', placeholder='sort')
        .div: input.field(name='links', placeholder='links')
        .div: input.field(name='limit', placeholder='limit')
        .div: input.field(name='count', placeholder='count')
        .div: input.field(name='countBy', placeholder='count')
        .div: input(type='submit', name='cmdRun', value='Run')
        input(type='submit', name='cmdShow', value='Show')
    .col-right.pad
      .div: | Bye
      .div: | There
  .container.pad
    if displayPath
      br
      div Path: #{displayPath}
      if displayQuery
        br
        div Query Object:
        div #{displayQuery}
        br
        div Query JSON:
        div #{displayJSON}
