extends layout

block content
  include signinLinks
  br
  br
  form#explore(method='post', action='/explore')
    .field: input(name='collection', placeholder='collection')
    .field: input(name='_id', placeholder='id')
    .field: input(name='name', placeholder='name')
    .field: input(name='sort', placeholder='sort')
    .field: input(name='count', placeholder='count')
    .field: input(name='links', placeholder='links')
    .field: input(name='query', placeholder='query')
    .field: input(name='limit', placeholder='limit')
    .button: input(type='submit', name='cmdShowQuery', value='Show Query')
    .button: input(type='submit', name='cmdShowJSON', value='Show JSON')
    .button: input(type='submit', name='cmdRunQuery', value='Run')
