include base
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/v1/assets/styles/style.css')
    block scripts
      //- jQuery commented out for now, uncomment if needed
      //- script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js')
      //- script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js')
  body
    include topBar
    block content
    include bottomBar
