extends layout

block content
  .form: form#createAccount(method='post', action='/newaccount')
    .field: input(name='name', placeholder='Name')
    .field: input(name='email', placeholder='Email')
    .field: input(name='password', placeholder='Password')
    .field: input(name='secret', placeholder='Secret')
    .button: input(type='submit', value='Create Account')
