extends layout

block content
  .form: form#signin(method='post', action='/v1/explore')
    .field: input(name='collection', patchholder='collection')
    .field: input(name='_id', patchholder='id')
    .field: input(name='name', patchholder='name')
    .field: input(name='sort', patchholder='sort')
    .field: input(name='count', patchholder='count')
    .field: input(name='links', patchholder='links')
    .field: input(name='query', patchholder='query')
    .field: input(name='limit', patchholder='limit')
    .button: input(type='submit', value='Query')
