extends layout

block content
  .form: form#signin(method='post', action='/v1/explore')
    .field: input(name='collection', placeholder='collection')
    .field: input(name='_id', placeholder='id')
    .field: input(name='name', placeholder='name')
    .field: input(name='sort', placeholder='sort')
    .field: input(name='count', placeholder='count')
    .field: input(name='links', placeholder='links')
    .field: input(name='query', placeholder='query')
    .field: input(name='limit', placeholder='limit')
    .button: input(type='submit', value='Query')
