extends layout

block content
  .form: form#signin(method='post', action='/explore/signin')
    .field: input(name='email', placeholder='Email')
    .field: input(name='password', placeholder='Password')
    .button: input(type='submit', value='Sign in')
