config*.js
crash.js
node_modules
!/node_modules/proxutils.js
!/node_modules/proxdb.js
old
.monitor
.DS_Store
*.json
*.log
*.crt
*.db
*.csv
~*

/keys/prod

!package.json
!categories.json
!categories_patch.json
!catmap*.json

/proxibase.sublime-project
/proxibase.sublime-workspace
.idea
