config*.js
node_modules
old
*.json
!package.json
.monitor
crash.js
*.log
*.crt
*.db
*.csv
!/assets
!/tools/scarf/*.csv


/test/oauth/*.html
/perf.csv
/proxibase.sublime-project
/proxibase.sublime-workspace
