config*.js
crash.js
node_modules
!/node_modules/proxutils.js
!/node_modules/proxdb.js
old
.monitor
.DS_Store
*.json
*.log
*.crt
*.db
*.csv
~*

/assets/img/thumbnails/*.png

/keys/prod

!package.json
!categories.json
!categories_patch.json
!catmap*.json
!/assets/
!/assets/prox.log
!/assets/proxerr.log

/test/oauth/*.html
/perf.csv
/proxibase.sublime-project
/proxibase.sublime-workspace
.idea
