/*
* App config file
*/

module.exports = {
  name: "proxibase",
  port: 8043,
  env: "development",     // overrides NODE_ENV environment variable
  ssl: {
    keyFilePath: "./keys/dev/dev.pem",
    certFilePath: "./keys/dev/dev.crt"
  },
  mdb: {
    host: "localhost",
    port: 27017,
    database: "prox",
    options: {
      auto_reconnect: true,
      poolSize: 3
    }
  }
}
