/*
* App config file
*/

module.exports = {
  name: "Proxibase",
  host: "localhost",
  port: 8043,
  env: "dev", // dev|prod
  notify: "pager@3meters.com.deleteme",
  ssl: {
    keyFilePath: "./keys/dev/dev.pem",
    certFilePath: "./keys/dev/dev.crt",
    caFilePath: null
  },
  bypassSsl: false,
  bypassSslPort: 8080,
  mdb: {
    host: "localhost",
    port: 27017,
    database: "prox",
    options: {
      strict: true,
      auto_reconnect: true,
      poolSize: 3
    }
  }
}
